@import "./scss/base";
@import "./scss/keyframes";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-title-firstname {
  animation-name: moveInRight;
  animation-duration: 1s;
}

.header-title-lastname {
  animation-name: moveInLeft;
  animation-duration: 1s;
}

.header-profile {
  font-size: 2.3rem;
  color: $default-text-color;
  letter-spacing: 0.3rem;
  word-spacing: 1.2rem;
  line-height: 3.5rem;
  // animation: type 4s steps(60, end); 
  // white-space: nowrap;
  // overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
